* {
    box-sizing: border-box;
    text-align: center;
  }

  h1 {
      color: lightseagreen;
  }

label {
    font-size: 28px;
}

form, #buttons {
    text-align: center;
}

#newStart {
    padding: 4px;
    font-size: 28px;
    font-weight: bold;
}

#image-holder {
    border-radius: 25px;
}

img {
    margin-top: 2%;
    max-height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

img, #qholder {
    display: block;
}

.radio:hover {
    cursor: pointer;
    background-color: darkgray;
    border-radius: 25px;
}

input {
    visibility: hidden;
}

.radio, .stats {
    font-size: 30px;
}
